<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>Introduce:</strong>
  <%= @house.introduce %>
</p>

<p>
  <strong>Style:</strong>
  <%= @house.style %>
</p>

<p>
  <strong>Price:</strong>
  <%= @house.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @house.location %>
</p>

<p>
  <strong>Area:</strong>
  <%= @house.area %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @house.discription %>
</p>

<p>
  <strong>Address:</strong>
  <%= @house.address %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
