<div id="header">
	<a class="icon"></a>
	<div class="nav">
		<a href="../index.html">
			<div class="home-icon"></div>
			首页
		</a>
		<a href="../house/citypage.html">
			<div class="city-icon"></div>
			城市
		</a>
		<h1>咨询热线：147-1433-5039</h1>
	</div>
</div>

<!--导航部分-->
<div id="tabs">
	<ul>
		<li>
			<a href="../house/melbournelist.html">
				<h1><%= @property.city %></h1>
			</a>

		</li>
	</ul>
</div>

<div class="clear"></div>



<div id="bd">
  <div class="containers">
    <div class="core">

      <div class="abstract">
        <h1>
          <%=@property.title %>
        </h1>
        <div>
          <ul>
            <li>
              房型:
              <span class="kind"><%= @property.bedrooms%>卧<%= @property.bathrooms%>卫<%= @property.reception_rooms%>厅</span>
            </li>
            <li>
              位置：
              <span class="position"><%= @property.address %></span>
              <a class="chack" href="#pro-map">查看地图</a>
            </li>
          </ul>
        </div>
      </div>

    <div class="clear"> </div>
      <div class="gallery">
        <div id="slider" class="nivoSlider">
          <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/hub/image1.png" alt=""/>
          <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/hub/image2.png" alt="" />
          <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/hub/image3.png" alt="" />
          <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/hub/image4.png" alt="" />
          <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/hub/image5.png" alt="" />
          <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/hub/image6.png" alt="" />
          <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/hub/image7.png" alt="" />
          <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/hub/image8.png" alt="" />
          <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/hub/image9.png" alt="" />
        </div>
      </div>
      <div class="clear"> </div>

      <div id="fix" class="fix2">
        <div class="flat-content-navbar">
          <ul>
            <li>
              <a id="tab1" class="tab-item1" data-scoll="#pro-introduce" href="#pro-introduce" data-anchor="#pro-introduce" gaevent="#">项目特色</a>
            </li>
            <li>
              <a id="tab2" class="tab-item2" data-scorll="#pro-data" href="#pro-data" data-anchor="pro-data" gaevent="#">
                项目数据
              </a>
            </li>
            <li>
                <a id="tab3" class="tab-item2" data-scroll="#pro-invest" href="#pro-invest" data-anchor="#pro-invest
                " gaevent="#">
                项目位置
                </a>
            </li>
          </ul>
        </div>
      </div>

      <div id="deal-stuff">
        <div class="introduce" id="pro-introduce">
          <h1>项目特色</h1>
          <p id="description"><%= @property.description %></p>
        </div>

        <div class="introduce" id="pro-data">
          <h1>项目数据</h1>
        </div>

        <div class="map" id="pro-invest">
          <h1>项目位置</h1> 
          <div class="google">
                <iframe width="640" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=bromley&amp;aq=&amp;sll=39.90403,116.407526&amp;sspn=0.656307,1.454315&amp;brcurrent=3,0x0:0x0,0%3B5,0,0&amp;ie=UTF8&amp;hq=&amp;hnear=%EF%BC%88%E5%A4%A7%E4%B8%8D%E5%88%97%E9%A2%A0%EF%BC%89%E8%81%94%E5%90%88%E7%8E%8B%E5%9B%BD%E5%A4%A7%E4%BC%A6%E6%95%A6%E5%B8%83%E7%BD%97%E5%A7%86%E5%88%A9&amp;ll=51.406025,0.013156&amp;spn=0.267104,0.727158&amp;t=m&amp;z=11&amp;output=embed"></iframe><br /><small><a href="http://ditu.google.cn/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=bromley&amp;aq=&amp;sll=39.90403,116.407526&amp;sspn=0.656307,1.454315&amp;brcurrent=3,0x0:0x0,0%3B5,0,0&amp;ie=UTF8&amp;hq=&amp;hnear=%EF%BC%88%E5%A4%A7%E4%B8%8D%E5%88%97%E9%A2%A0%EF%BC%89%E8%81%94%E5%90%88%E7%8E%8B%E5%9B%BD%E5%A4%A7%E4%BC%A6%E6%95%A6%E5%B8%83%E7%BD%97%E5%A7%86%E5%88%A9&amp;ll=51.406025,0.013156&amp;spn=0.267104,0.727158&amp;t=m&amp;z=11" style="color:#0000FF;text-align:left">查看大图</a></small>
          </div>
        </div>
      </div>






    </div>
  </div>
</div>
<div class="clear"></div>
<!--尾部-->
<div id="footer">
  <div class="containers">
    <div class="ft-top">
      <ul>
        <li><a href="../house/m/about.html">关于</a></li>
        <li><a href="../house/m/contact.html">联系我们</a></li>
        <li><%=link_to "后台登录", login_path(@login)%></li>
        <li><a href="http://tongji.baidu.com/web/welcome/ico?s=b7fbf908911ab72bbed3f31577ba9fd7" target="_blank">百度统计</a></li>
      </ul>
      <br/>
    </div>
    <div class="ft-bottom">
      <h1>合作伙伴</h1>
      <p>
        <a href="http://jsfund.cn">嘉实基金</a>
        <a href="http://www.colliersresidential.com/">高力国际</a>
        <a href="http://www.hrei.com.hk/en/index.html">HREI</a>
      </p>
    </div>
  </div>
</div>


 <a id="back-to-top"></a>
