
<%=render 'public/header'%>
  
   <div class="clear"> </div> 


<div id="city">
  <div class="containers">
    <div class="tabs">
            <ul>
              <li>
                  <h1>澳大利亚</h1>                
              </li>
            </ul> 
    </div> 
    <ul>
        <% @australia.each do |c| %>
          <li class="cc">
            <div class="hot">
                <a href="<%=address_path(c)%>">
                  <img src="<%=c.city_img%>"/>
                </a>
              <a class="price">
                <%=c.city%>
                </a>
            </div>
          </li>
        <% end %>
    </ul>
    <div class="clear"></div> 
    
    <div class="tabs">
            <ul>
              <li>
                <a href="./listpage.html">
                  <h1>英国</h1>
                </a>
              </li>
            </ul> 
    </div> 
    <ul>
        <% @england.each do |c| %>
          <li>
            <div class="hot">
                        <a href="<%=address_path(c)%>">
                  <img src="<%=c.city_img%>"/>
                </a>
              <a class="price">
                <%=c.city%>
                </a>
            </div>
          </li>
          <% end %>
    </ul>

      
  </div>
</div>



<%=render 'public/footer'%>

<a id="back-to-top"></a>
