
<!--头部-->
	<%=render 'public/header'%>
	
   <div class="clear"> </div>     

<!--导航部分-->
   <div class="tabs">
            <ul>
            	<li>
            	    <h1><%=@address.city%></h1>
            	</li>
            </ul> 
    </div>  

    <div class="clear"> </div>

<!--主体部分-->
	
	<div id="house">
		<div class="containers">
			
         
		    <ul>
		    	<% @properties.each do  |property|%>
		    	<li>
		    		<div class="hot">
                        <a href="<%=property_path(property)%>" target="_blank">
		    			    <img src="<%=property.item_images.first.image_url%>"/>
		    		    </a>
		    		    <div class="abstract">
		    			    <a href="<%=property_path(property)%>">
		    			        <h1><%=property.building_name%></h1>
		    			    </a>		    			    
		    			    <p>Style：卧<%= property.bathrooms%>卫<%= property.reception_rooms%>厅</p>
		    			    <p>Address：<%= property.address %></p>
		    			    <p>Price：
		    				   <b class="number"><%= property.buy %></b>
		    			    </p>
		    		    </div>
		    		</div>
		    	</li>
		    	<% end %>
		    </ul>
		    

	    </div>

	</div>


<div class="clear"> </div>

<%=render 'public/footer'%>
 	<a id="back-to-top"></a>