<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "姓名" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "手机号" %><br>
    <%= f.telephone_field :phone %>
  </div>
  <div class="field">
    <%= f.label "电子邮箱" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "留言" %><br>
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>
