<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8"/>
  <meta name="renderer" content="webkit">
  <meta http-equic="X-UA-Compatible" content="IE=edge">
  <meta name="viewprot" content="width=device-width,initial-scale=1,user-sclable=no">
  <meta name="keywords" content="海外房产，海外房产投资，海外买房，海外置业，海外房价，海外房地产，海外买房移民，海外房地产网，嘉实，旅游，留学，投资"/>
  <meta name="description" content="嘉实海外房产为您提供英国、澳大利亚等地区的海外买房和海外房产投资服务。嘉实海外房产与当地优秀的房产经纪人和物业管理租售及移民、留学机构合作为中国海外置业者提供全方位的服务。海外置业从嘉实海外房产开始。">
  <title><%= @property.title%></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>


  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<%= yield %>

</body>
</html>
